.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.turn-container {
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: bold;
  font-size: 0.8em;
  color: #22F;
}

.value {
  margin-top: 4px;
  font-size: 2em;
  color: #2BE;
}

.game-area {
  flex-grow: 1;
  height: 100%;
  background: linear-gradient(#f0f8ff, #7078cd);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-line {
  width: 80%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-line-reverse {
  width: 80%;
  margin: 6px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.game-item {
  width: 9%;
  height: 100px;
  color: black;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
